{% extends 'Automation/base.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" style="margin-top:185px;">
       <div>
		   {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
   </div>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit" class="approve1">Save changes</button> <a href="{% url 'Automation:Automation/passwordsuccess' %}" class="approve1" style="margin-top:10px; ">Back</a>
</form>
      </div>
{% endblock %}