{% extends "Automation/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h1>Confirm Delete</h1>
    <form method="POST">{% csrf_token %}
   <p>Are you sure you want to delete applicant: "{{object.first_name}}"?</p>
        <input type="submit" value="Confirm" class="btn btn-warning approve1">
        <a href="{% url 'Automation:Automation/approveform' pk=object.pk %}" class="btn btn-default approve1">Cancel</a>
    </form>
</div>
{% endblock %}